.footer{
	color: #ffffff;
	background-color: #292d33;
	text-align: center;
	padding: 1em;
	.callus{
		color: #e68404;
		font-size: 1rem;
		font-weight: bold;
		a{
			color: #e68404;
			text-decoration: none;
		}
	}
}