.footer{
	color: #ffffff;
	background-color: #292d33;
	text-align: center;
	padding: 1em;
	.callus{
		color: #ffffff;
		font-size: 1rem;
		font-weight: bold;
		a{
			color: #ffffff;
			text-decoration: none;
		}
	}
	.add{
		font-size: 1rem;
	}
	.licen-ins{
		font-size: 0.85rem;
		margin-bottom: 0
	}
}